<h2>Sala sław</h2>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Imię</th>
        <th>Ilość zwycięstw</th>
    </tr>
    </thead>
    <tbody>
    {{#each warriors}}
                <tr>
                    <th>{{increment @index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.wins}}</td>
                </tr>
    {{/each}}
    </tbody>
</table>